/* myLWC.css */
.banner {
    background-color: #db3434; /* Change the background color to your preference */
    color: #fff; /* Change the text color to your preference */
    padding: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 234, 0);
    
    border-bottom-width: 25px;

}
.line{ 
    height: 20px; 
    background-color: rgb(255, 234, 0); 
    border: none; 
}